// _responsive.scss




/****************************
MOBILE DEVICE MEDIA QUERY
*****************************/
@media (min-width: 0px) and (max-width: 900px){

  .content-container {
    width: 100%;
  }


  /****************************
  SOCIAL BAR
  *****************************/
  .social-bar {
    width: 100%;
  }
  .subscribe {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }
  .subscribe a {
    font-size: 1.5em;
    font-weight: bolder;
  }
  .subscribe span {
    display: none;
  }
  .vertical-dots {
    display: none;
  }
  .social-wrapper {
    width: 100%;
    text-align: center;
  }
  .social-wrapper li {
    box-shadow: none;
  }
  .social-wrapper img {
    /*width: 72px;
    height: 72px;*/
  }



  /****************************
NAV BAR
  *****************************/
  nav a {
    font-size: 1.5em;
  }
  nav ul li {
    width: 100%;
    margin-top: 1.5%;
  }

  .slider-buttons {
    display: none;
  }



  /**********************************
  News Headline Styles
  ***********************************/
  .news-story {
    margin-top: 2%;
    width: 100%;
    display: block;
    /*height: 100px;*/
  }



  /**********************************
  SKATER BIO STYLES
  ***********************************/
  .arrow, .arrow2, .arrow-tip, .arrow-tip2 {
    display: none;
  }

  .left-col, .right-col {
    width: 100%;
    display: block;
    height: auto;
  }

  .right-col {
    height: 200px;
    margin-left: 0;
  }

.left-col .skater-image:first-child, .left-col .skater-image:nth-child(2), .left-col .skater-image:nth-child(3), .right-col .skater-image:first-child {
    width: 100%;
    display: block;
    margin-top: 2%;
  }

  .left-col .skater-image:nth-child(2) {
    margin-left: 0;
    background-size: cover;
  }

  .left-col .skater-image:nth-child(3) {
    // background-position-y: -20px;
    background-size: cover;
  }

  .right-col .skater-image:first-child {
    background-size: cover;
    // background-position-x: -175px;
  }

.skater-wrapper span {
    animation-play-state: paused;
  }

  .left-col .skater-image span {
    padding: 15%;
  }

  /*.left-col .skater-image:nth-child(2) {
    width: 100%;
  }*/

.skateboard-wrapper {
  height: auto;
}

footer {
  height: auto;
}
.footer-left-col {
  width: 100%;
}
.footer-right-col {
  width: 100%;
}

button {
  margin-bottom: 5%;
}

/******************* Closing Tage *******************/
}


/****************************
TABLET MEDIA QUERY
*****************************/
@media (min-width: 901px) and (max-width: 1250px){

  .content-container {
    width: 66%;
  }

  nav > ul > li {
    width: 23.67%;
  }

  nav a {
    font-size: .63em;
  }

  .news-story {
    width: 28.6%;
    height: 270px;
    padding: 1.7%;
  }

  .left-col .skater-image:first-child {
    width: 46.1%;
  }

}

.right-col .skater-image:first-child {
  background-size: cover;
}

.left-col .skater-image:first-child {
  background-size: cover;
}

div.skateboards {
  margin-left: -8px;
}



/****************************
DESKTOP MEDIA QUERY
*****************************/
@media screen and (min-width: 1251px) {

.content-container {
  width: 49%;
  margin: 0 auto;
}

nav > ul > li {
  width: 23.7%;
}

/*.headlines {
  text-align: center;
}*/

.news-story {
  width: 27.0%;
  height: 270px;
}

.left-col .skater-image:first-child {
  width: 47.5%;
}

.left-col .skater-image:nth-child(2) {
  width: 47.5%;
}

div.skater-image {
    background-size: cover;
  }

  /****************** CLOSING CURLY BRACE ********************/
}
