/*********************************
SKATEBOARD STYLES
**********************************/

.skateboard-wrapper {
  position: relative;
  margin-top: 25px;
  text-align: center;
  width: 100%;
  height: 200px;
  background-color: #FDFDFD;
  box-shadow: 0px 3px grey;
}

.skateboards {
  display: inline-block;
  padding-top: 2%;

  img {
    width: 65%;
  }

  img:hover {
    animation-duration: .5s;
    animation-name: grow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}


@keyframes grow {
  from {
    transform: scale(1.0);
  }
  to {
    transform: scale(1.1);
  }
}
