/************************************
  Slider Styles
************************************/

#slider {
  position: relative;
  width: 98%;
  max-width: 800px;
  overflow: hidden;
  border: 7px solid #fff;
  box-shadow: 0px 3px grey;
  text-align: center;
}

/* PAUSE BUTTON */
#slider:after {
  content: "||";
  position: absolute;
  font-size: 10em;
  z-index: 12;
  color: rgba(255,255,255, 0);
  left: 46%;
  top: 15%;
  transition: 1s all ease-in-out;
}
#slider:hover:after {
  color: rgba(255,255,255, 0.6);
}

#figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;  /* This sucks all the air out of the div container surrounding the image*/
  text-align: left; /* Addressing a bug in Win Safari 5 */
  animation: 10s slide infinite;

  &:hover {
    animation-play-state: paused;
  }

  img {
    width: 20%; /*100%/5 = 20%*/
    height: auto;
    float: left; /* Addressing a bug in Win Safari 5 */
  }
}

/************* SLIDER ANIMATION ****************/
@keyframes slide {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; } /*5% in there to account for slide*/
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

.logo-wrapper {
  position: absolute;
  top: 28px;
  left: 15px;

  img {
    width: 70%;
  }
}

.slider-buttons {
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-shadow: 0px 2px #888;

  span {
    padding: 0px 4px;
  }
  &:hover {
    color: red;
  }
}
