@media screen and (min-width: 1251px) {

.content-container {
  width: 49%;
}

nav > ul > li {
  width: 23.7%;
}

/*.headlines {
  text-align: center;
}*/

.news-story {
  width: 27.5%;
}

.left-col .skater-image:first-child {
  width: 47.5%;
}

.left-col .skater-image:nth-child(2) {
  width: 47.5%;
}

  /****************** CLOSING CURLY BRACE ********************/
}
