@media (min-width: 761px) and (max-width: 1250px){

  .content-container {
    width: 66%;
  }

  nav > ul > li {
    width: 23.67%;
  }

  nav a {
    font-size: .63em;
  }

  .news-story {
    width: 28.7%;
    padding: 1.7%;
  }

  .left-col .skater-image:first-child {
    width: 46.1%;
  }

}
